.container{
  margin: auto;
  width: 50%;
  background-color: rgba(165, 42, 42, 0.636);
  padding: 10px;
}
.add-btn{
  float: right;
  background-color: brown;
  border-color: antiquewhite;
  color: white;
  width: 10%;
  height: 100%;
}