.container{
  margin: auto;
  width: 50%;
  border-radius: 5%;
  background-color: #f2c1de;
  padding: 10px;
}
.add-btn{
  float: right;
  background-color: brown;
  border-color: antiquewhite;
  color: white;
  width: 10%;
  height: 100%;
}